@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss";

.post-listing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: $unitsNormal;

  .post-item {
    overflow: hidden;
    border-radius: $unitsXSmall;
    border: $borderGray40;

    .post-link {
      text-decoration: none;
      position: relative;
      color: inherit;
      height: 100%;
      width: 100%;
      transition: transform $easeInOut150;

      .post-container {
        @include mixins.flex-default(
          $align-items: center,
          $justify-content: center,
          $flex-direction: column,
          $align-content: center
        );
        position: relative;
        min-height: $unitsXLarge;
        height: 100%;
        transition: transform $easeInOut150;

        .post-image {
          position: absolute;
          filter: opacity($opacityModerate);
        }

        .post-title {
          position: relative;
          margin: $unitsNormal;
          text-align: center;
        }
      }
    }
  }
  .post-container:hover {
    transform: scale(1.1);
  }
}

@media (prefers-color-scheme: dark) {
  .post-title {
    text-shadow: $normalTextShadow;
  }
}

@media screen and (min-width: $desktopWidth) {
  .post-listing {
    grid-template-columns: repeat(6, 1fr);
  }

  .first-post {
    grid-column: span 2;
    font-size: $unitsNormal;
  }

  .second-post {
    grid-column: span 4;
    font-size: calc($unitsNormal * 1.5);
  }

  .third-post {
    grid-column: span 6;
    font-size: $unitsMedium;
  }
}
