@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss";

button.primary-form-btn:disabled {
  border: $borderGray40;
  background: $white98;
}

button.primary-form-btn {
  @include mixins.primary-btn($verticalPadding: $unitsNormal);
}

button.primary-form-btn:hover {
  @include mixins.primary-btn-hover;
}

button.primary-form-btn:disabled {
  color: $gray40;
  cursor: not-allowed;
  box-shadow: none;
}

/*
Media Queries
*/

@media (prefers-color-scheme: dark) {
  button:disabled {
    background: $black15;
  }
}
