@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss";

a.cta {
  text-decoration: none;
}

a.primary-cta {
  @include mixins.primary-btn(
    $background: $red70,
    $verticalPadding: $unitsNormal
  );
}
a.primary-cta:hover {
  @include mixins.primary-btn-hover($background: $red75);
}

a.accent-cta {
  @include mixins.primary-btn(
    $background: linear-gradient(90deg, hsl(220deg 6% 90%), hsl(0deg 0% 98%)),
    $verticalPadding: $unitsNormal,
    $horizontalPadding: $unitsLarge,
    $color: $black13,
    $border: $blue60 $unitsTiny solid,
    $width: fit-content
  );
  font-family: $headerFont;
  font-size: calc($unitsNormal * 1.2);
}
a.accent-cta:hover {
  @include mixins.primary-btn-hover(
    $background: $white98,
    $border-color: $purple70
  );
}

@media screen and (min-width: $desktopWidth) {
  a.primary-cta {
    @include mixins.primary-btn($background: $red70, $display: inline);
  }
}

@media (prefers-color-scheme: dark) {
  a.accent-cta {
    background: linear-gradient(90deg, hsl(230deg 6% 80%), hsl(0deg 0% 98%));
  }
}
