.blog-featured-img {
  border-radius: 0px;
  border: none;
  transform: translate(0,-35%);
  box-shadow: none;
}

.blog-featured-img-container {
  height: 6rem;
  overflow: hidden;
  box-sizing: content-box;
  min-width: 100%;
  margin: 0 -1rem 2rem;
}