/*
External Modules
*/

@use '../styles/variables.scss' as *;

.blog-featured-img {
  border-radius: 0px;
  border: none;
  transform: translate(0, -35%);
  box-shadow: none;
}

.blog-featured-img-container {
  height: 6rem;
  overflow: hidden;
  box-sizing: content-box;
  min-width: 100%;
  margin: 0 -#{$unitsNormal} 2rem;
}

.publish-info {
  font-style: italic;
  font-size: $unitsSmall;
}

li:target {
  background: $lightYellow;
}

sup a {
  border: none;
}
