@use "../../styles/variables.scss" as *;

.featured-image {
  height: $unitsLarge;
  overflow: hidden;
  border-bottom: $borderGray40;
  img {
    min-width: 120%;
    margin-top: -50%;
  }
}

@media screen and (min-width: $desktopWidth) {
  .featured-image {
    height: $unitsHuge;
  }
}
