@use "variables" as *;
@use "mixins";

/*
Base styles
*/
html {
  background-color: $white98;
  line-height: normal;
  font-family: $bodyFont;
  font-size: $rootFontSize;
  color: $black13;
  scroll-behavior: smooth;
}
main {
  @include mixins.global-container;
}
a {
  color: $blue60;
  text-decoration: none;
}
strong,
b {
  font-family: $boldFont;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
}
code,
kbd,
pre,
samp {
  font-family: $monoFont;
  font-size: 0.8rem;
  line-height: 1.65;
  border: $borderWhite80;
  background-color: $white98;
}
pre {
  border-radius: 0.25rem;
  overflow: auto;
  word-wrap: normal;
  border-left: 0.25rem solid $magenta80;
  padding: 1rem 0.5rem;
}
code {
  border-radius: 0.2rem;
  padding: 0 0.2rem;
}
pre > code {
  border: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*
Global styles
*/
*:focus-visible {
  outline: none;
  box-shadow: $lightOutline;
}

.graphic-headline-container {
  position: relative;
}

.graphic-headline {
  position: absolute;
  top: 10%;
  font-size: max(4vw, 2rem);
}

.graphic-creative {
  width: 100%;
  filter: opacity(0.75);
}

/*
Buttons
*/
.btn-primary {
  font-family: $headerFont;
  font-size: 1.2rem;
  color: $black13;
  text-align: center;
  background: linear-gradient(90deg, $white90, $white98);
  border: 2px $blue60 solid;
  border-radius: 3px;
  padding: $tinySpacing $mediumSpacing;
  display: inline-block;
}

.btn-primary:hover {
  background: $white98;
  border-color: $purple70;
}

/*
Headroom navigation styles
*/
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headroom--unfixed {
  position: relative;
  transform: $translateYZero;
  -webkit-transform: $translateYZero;
  -moz-transform: $translateYZero;
  -o-transform: $translateYZero;
  -ms-transform: $translateYZero;
}
.headroom--pinned {
  position: fixed;
  border-bottom: $borderGray40;
  transform: $translateYZero;
  -webkit-transform: $translateYZero;
  -moz-transform: $translateYZero;
  -o-transform: $translateYZero;
  -ms-transform: $translateYZero;
  z-index: 10;
}
.headroom--scrolled {
  @include mixins.light-scheme($white98_50);
  backdrop-filter: blur(1rem);
  transition: transform, border-bottom $easeInOut200;
  -webkit-transition: -webkit-transform $easeInOut200;
  -moz-transition: -moz-transform $easeInOut200;
  -o-transition: -o-transform $easeInOut200;
  -ms-transition: -ms-transform $easeInOut200;
  z-index: 2;
}
.headroom--unpinned {
  position: fixed;
  transform: $translateNeg100;
  -webkit-transform: $translateNeg100;
  -moz-transform: $translateNeg100;
  -o-transform: $translateNeg100;
  -ms-transform: $translateNeg100;
}

/*
Media queries
*/
@media screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.1rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    @include mixins.dark-scheme;
  }
  *:focus-visible {
    box-shadow: $darkOutline;
  }
  .headroom--scrolled {
    @include mixins.dark-scheme($black13_50);
  }
  code,
  kbd,
  pre,
  samp {
    background-color: $black10;
  }
  .btn-primary {
    background: linear-gradient(90deg, $white80, $white98);
  }
}
