/*
External Modules
*/

@use 'normalize';
@use 'variables' as var;

/*
Basic Structure
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var.$regularFont;
  font-size: max(#{var.$rootFontSize}, 1vw);
  color: var.$black;
  text-rendering: optimizeLegibility;
  line-height: var.$standardLineHeight;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Typographic Elements
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var.$headingFont;
  margin: 1rem 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.62671rem;
}

h3 {
  font-size: 1.38316rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85028rem;
}

h6 {
  font-size: 0.78405rem;
}

hgroup {
  margin-bottom: var.$unitsMedium;
}

blockquote {
  padding: var.$unitsTiny var.$unitsMedium;
  margin: 0 var.$unitsMedium;
  border-left: var.$smallBorderRadius solid;
}

blockquote > p {
  padding: 0;
  margin: 0;
}

b,
strong,
dt,
th {
  font-family: var.$boldFont;
}

a {
  background-color: transparent;
  color: var.$blue;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(#{var.$unitsMedium} / 2);
}

ul,
ol {
  margin: 0 0 var.$unitsMedium var.$unitsMedium;
  list-style-position: outside;
  list-style-image: none;
  padding: 0;
}

li {
  margin-bottom: calc(#{var.$unitsMedium} / 2);
}

ol,
li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol,
li > ul {
  margin-left: var.$unitsMedium;
  margin-bottom: calc(#{var.$unitsMedium} / 2);
  margin-top: calc(#{var.$unitsMedium} / 2);
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: var.$codeFont;
  font-size: var.$unitsSmall;
  line-height: var.$extraLineHeight;
  border: 1px solid var.$gray3;
  background: var.$gray1;
}

pre {
  border-radius: var.$smallBorderRadius;
  overflow: auto;
  word-wrap: normal;
  border-left: var.$smallBorderRadius solid var.$black;
  padding: 1rem 0.5rem;
}

code {
  border-radius: 3px;
  padding: 0 0.2rem;
}

pre > code {
  border: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/*
Table Elements
*/

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid var.$gray1;
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

dl,
dd,
p,
figure,
pre,
fieldset,
form,
noscript,
iframe,
address {
  margin-bottom: var.$unitsMedium;
}

/*
Media Elements
*/

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  max-width: 100%;
  margin-bottom: var.$unitsMedium;
  border: 1px solid var.$gray3;
  border-radius: var.$smallBorderRadius;
}

figure {
  margin: 1em 40px;
}

/*
Form Elements
*/

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-family: var.$boldFont;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid var.$gray1;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

table {
  margin-bottom: var.$unitsMedium;
  font-size: 1rem;
  line-height: var.$extraLineHeight;
  border-collapse: collapse;
  width: 100%;
}

hr {
  margin-bottom: calc(#{var.$unitsMedium} - 1px);
  background: var.$gray1;
  border: none;
  height: 1px;
}

/*
Misc
*/

img,
pre {
  box-shadow: var.$shadowLarge;
}

::selection {
  background: var.$blue;
  color: var.$white;
}

/*
Media Queries
*/

@media only screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -1px;
  }
}
