@use "variables" as *;

@mixin dark-scheme($background-color: $black13) {
  background-color: $background-color;
  color: $white98;
}

@mixin light-scheme($background-color: $white98) {
  background-color: $background-color;
  color: $black13;
}

@mixin flex-align-items($align-items: center) {
  display: flex;
  align-items: $align-items;
}

@mixin flex-default(
  $flex-direction: row,
  $flex-wrap: nowrap,
  $align-content: normal,
  $justify-content: normal,
  $align-items: normal
) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-justify-column(
  $flex-direction: column,
  $flex-wrap: nowrap,
  $align-content: normal,
  $justify-content: center,
  $align-items: normal
) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin global-container($max-width: $wideContainer) {
  width: $globalWidth;
  max-width: $max-width;
  margin: auto;
}

/*
Primary Buttons
*/

@mixin primary-btn(
  $background: $blue50,
  $color: $white98,
  $display: block,
  $verticalPadding: $unitsSmall,
  $horizontalPadding: $unitsNormal,
  $border: none,
  $width: auto
) {
  background: $background;
  color: $color;
  display: $display;
  text-align: center;
  padding: $verticalPadding $horizontalPadding;
  border-radius: $unitsXSmall;
  box-shadow: $smallBoxShadow;
  border: $border;
  width: $width;
}
@mixin primary-btn-hover($background: $blue60, $border-color: none) {
  background: $background;
  border-color: $border-color;
  cursor: pointer;
}
