@use 'variables' as *;

@mixin dark-scheme() {
  background: $black13;
  color: $white98;
}

@mixin flex-align-items($align-items: center) {
  display: flex;
  align-items: $align-items;
}

@mixin global-container($max-width: $wideContainer) {
  width: $globalWidth;
  max-width: $max-width;
  margin: auto;
}
