@use "typography" as fonts;

/*
Color utilities
*/
$colorLightness20: 20%;
$colorLightness30: 30%;
$colorLightness50: 50%;
$colorLightness60: 60%;
$colorLightness70: 70%;
$colorLightness75: 75%;
$colorLightness80: 80%;

/*
White, grays, and blacks
*/

//Transparent light and dark theme colors
$white98_50: hsla(225deg, 6%, 98%, 50%);
$black13_50: hsl(225deg, 6%, 13%, 50%);

$white100: hsl(0deg, 0%, 100%);
$white98: hsl(225deg, 6%, 98%);
$white90: hsl(225deg, 6%, 90%);
$white95: hsl(225deg, 6%, 95%);
$white85: hsl(225deg, 6%, 85%);
$white80: hsl(225deg, 6%, 80%);
$white75: hsl(225deg, 6%, 75%);
$white70: hsl(225deg, 6%, 75%);
$gray60: hsl(255deg, 6%, 60%);
$gray55: hsl(255deg, 6%, 55%);
$gray50: hsl(255deg, 6%, 50%);
$gray45: hsl(255deg, 6%, 45%);
$gray40: hsl(255deg, 6%, 40%);
$black30: hsl(225deg, 6%, 30%);
$black25: hsl(225deg, 6%, 25%);
$black20: hsl(225deg, 6%, 20%);
$black15: hsl(225deg, 6%, 15%);
$black13: hsl(225deg, 6%, 13%);
$black10: hsl(225deg, 6%, 10%);
$black5: hsl(225deg, 6%, 5%);
$black0: hsl(225deg, 6%, 0%);

/*
Brand colors
*/
$purple70: hsl(305deg, 86%, $colorLightness70);
$magenta80: hsl(305deg, 100%, $colorLightness80);
$cyan30: hsl(166deg, 95%, $colorLightness30);
$cyan60: hsl(166deg, 95%, $colorLightness60);

$blue30: hsl(210deg, 86%, $colorLightness30);
$blue50: hsl(210deg, 86%, $colorLightness50);
$blue60: hsl(210deg, 86%, $colorLightness60);
$red30: hsl(0deg, 100%, $colorLightness30);
$red60: hsl(0deg, 100%, $colorLightness60);
$red70: hsl(0deg, 100%, $colorLightness70);
$red75: hsl(0deg, 100%, $colorLightness75);
$yellow30: hsl(60deg, 100%, $colorLightness30);
$yellow60: hsl(60deg, 100%, $colorLightness60);
$orange30: hsl(23deg, 100%, $colorLightness30);
$orange60: hsl(23deg, 100%, $colorLightness60);
$green30: hsl(120deg, 100%, $colorLightness30);
$green60: hsl(120deg, 100%, $colorLightness60);

/*
Font elements
*/
$bodyFont: fonts.$bodyFont;
$boldFont: fonts.$boldFont;
$headerFont: fonts.$headerFont;
$headlineFont: fonts.$headlineFont;
$monoFont: fonts.$monoFont;
$rootFontSize: max(16px, 1vw);

/*
Structural elements
*/
$globalWidth: 95%;

$wideContainer: 55rem;
$veryWideContainer: 75rem;

$unitsTiny: 0.125rem;
$unitsXSmall: 0.25rem;
$unitsSmall: 0.5rem;
$unitsNormal: 1rem;
$unitsMedium: 2rem;
$unitsMedLarge: 3rem;
$unitsLarge: 5rem;
$unitsXLarge: 10rem;
$unitsXXLarge: 15rem;
$unitsHuge: 20rem;

/*
Border and shadow elements
*/
$borderWhite70: 0.0625rem solid $white70;
$borderWhite80: 0.0625rem solid $white80;
$borderGray40: 0.0625rem solid $gray40;
$borderGreen30: 0.0625rem solid $green30;
$borderOrange30: 0.0625rem solid $orange30;

$smallBoxShadow: 0 0 $unitsNormal hsla(0deg, 0%, 0%, 0.25);
$largeBoxShadow: 0 $unitsNormal 4rem hsla(0deg, 0%, 0%, 0.25);

$normalTextShadow: 0 0 $unitsNormal hsla(0deg, 0%, 0%, 0.75);

$darkOutline: 0 0 0 0.15rem $black13, 0 0 0 0.3rem $cyan60;
$lightOutline: 0 0 0 0.15rem $white98, 0 0 0 0.3rem $blue60;

/*
Transform elements
*/
$translateNeg100: translateY(-100%);
$translateYZero: translateY(0%);

/*
Transition elements
*/
$easeInOut200: 0.2s ease-in-out;
$easeInOut150: 0.15s ease-in-out;

/*
Breakpoints
*/

$desktopWidth: 768px;
