@use "../../styles/variables.scss" as *;

.graphic-headline-container {
  position: relative;
}

.graphic-headline {
  position: absolute;
  top: 10%;
  font-size: max(4vw, $unitsMedium);
}

.graphic-creative {
  width: 100%;
  filter: opacity($opacityModerate);
}
