@use "../../styles/variables.scss" as *;

.about-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: $unitsNormal;
}

.about-image {
  height: 100%;
  width: auto;
}

.about-text {
  h3 {
    margin-top: 0;
  }
}
