/*
External Modules
*/

@use '../styles/variables.scss' as *;

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  min-height: 147px;
  display: flex;
  align-items: center;
  box-shadow: $shadowMeduim;

  a {
    display: block;    
    text-shadow: $textShadowMedium;
  }

  h2 {
    margin: 0;
    color: $white;
  }

  p {
    color: $gray5;
    font-size: 0.8rem;
    font-style: italic;
  }
}
