/*
External Modules
*/

@use '../styles/variables.scss' as *;

.posts {
  list-style-type: none;
  margin: 0;
}

a.blog-link {
  margin: 0;
  color: $white;
  text-shadow: $textShadowMedium;
  text-decoration: none;
}

.post {
  margin: 1rem 0;
  min-height: 147px;
  display: flex;
  align-items: center;
  box-shadow: $shadowMeduim;

  p {
    color: $gray5;
    font-size: 0.8rem;
    font-style: italic;
  }
}
