@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: theme(colors.gray.900);
}

.highlight {
  font-weight: theme(fontWeight.black);
  color: theme(colors.primary.600);
}

.form-input:focus-visible,
.form-textarea:focus-visible,
.form-select:focus-visible,
.form-multiselect:focus-visible,
.form-input:focus,
.form-textarea:focus,
.form-select:focus,
.form-multiselect:focus {
  border-color: theme(colors.blue.400);
  outline: none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.075rem theme(colors.blue.400);
}

#doc_article > * > img,
#doc_article > pre {
  box-shadow: theme(boxShadow.lg);
  border-radius: theme(borderRadius.md);
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 3008px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 3360px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 40px;
  }
}
