/*
External Modules
*/

@use '../styles/variables.scss' as *;

.blog-roll {
  margin: $unitsMedium 0;
}

.blog-roll-posts {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

a.blog-roll-posts-link {
  margin: 0;
  color: $white;
  text-shadow: $textShadowMedium;
  text-decoration: none;
  min-width: 33%;
}

.blog-roll-posts-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  min-height: 8rem;
  height: 100%;
  border: 1px solid rgb(185 185 185);
  border-radius: 5px;
  box-shadow: 0.15rem 0.15rem 1rem rgb(0 0 0 / 40%);
  transition: transform 0.15s ease-in-out, box-shadow;
}

.blog-roll-posts-link-container:hover {
  transform: scale(1.025);
  box-shadow: $shadowLarge;
}

div.blog-roll-posts-link-container > img {
  position: absolute;
  height: auto;
  width: auto;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  filter: brightness(0.9);
}

h2.blog-roll-posts-link-container-header {
  margin: 0;
  padding: $unitsMedium;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .blog-roll-posts {
    flex-direction: column;
  }
}
