/*
External Modules
*/

@use '../styles/variables.scss' as *;

.blog-roll {
  margin: $unitsMedium 0;
}

a.blog-roll-posts-link {
  margin: 0;
  color: $white;
  text-shadow: $textShadowMedium;
  text-decoration: none;
}

.blog-roll-posts-link-container {
  position: relative;
  max-height: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 10rem;
  margin: $unitsMedium 0;
  border: 1px solid $gray3;
  border-radius: $smallBorderRadius;
  box-shadow: $shadowMeduim;
  transition: ease-in-out 0.15s transform, box-shadow;
}

.blog-roll-posts-link-container:hover {
  transform: scale(1.025);
  box-shadow: $shadowLarge;
}

div.blog-roll-posts-link-container > img {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

h2.blog-roll-posts-link-container-header {
  margin: 0;
  padding: $unitsMedium;
  position: absolute;
}
