/*
External Modules
*/

@use '../styles/variables.scss' as *;

@mixin blog-roll-posts-link {
  margin: 0;
  color: $white;
  text-shadow: $textShadowMedium;
  text-decoration: none;
}

@mixin blog-roll-posts-link-container {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  max-height: none;
  min-height: 8rem;
  height: 100%;
  overflow: hidden;
  margin: $unitsSmall 0;
  border: 1px solid $gray3;
  border-radius: $smallBorderRadius;
  transition: ease-in-out 0.15s transform;
}

@mixin blog-roll-posts-img {
  position: absolute;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  filter: brightness(0.95);
}

@mixin blog-roll-posts-link-container-header {
  margin: 0;
  padding: $unitsMedium;
  z-index: 1;
}

.blog-roll {
  margin: $unitsMedium 0;
}

#blog-roll-small .blog-roll-posts {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  #blog-roll-small .blog-roll-posts {
    display: block;
  }
}

a.blog-roll-posts-link {
  @include blog-roll-posts-link;
}

#blog-roll-small a.blog-roll-posts-link {
  @include blog-roll-posts-link;
  min-width: 33.333%;
  width: -webkit-fill-available;
}

.blog-roll-posts-link-container {
  @include blog-roll-posts-link-container;
}

#blog-roll-small .blog-roll-posts-link:not(:first-child):not(:last-child) {
  margin: 0 $unitsTiny;
}

@media screen and (max-width: 767px) {
  #blog-roll-small .blog-roll-posts-link:not(:first-child):not(:last-child) {
    margin: 0;
  }
}

.blog-roll-posts-link-container:hover {
  transform: translatey(-0.25rem);
}

div.blog-roll-posts-link-container > img {
  @include blog-roll-posts-img;
}

#blog-roll-small div.blog-roll-posts-link-container > img {
  @include blog-roll-posts-img;
}

@media screen and (max-width: 767px) {
  #blog-roll-small div.blog-roll-posts-link-container > img {
    @include blog-roll-posts-img;
    width: 100%;
    height: auto;
  }
}

h2.blog-roll-posts-link-container-header {
  @include blog-roll-posts-link-container-header;
}

#blog-roll-small h2.blog-roll-posts-link-container-header {
  @include blog-roll-posts-link-container-header;
  font-size: 1.2rem;
}
