@use "../styles/variables.scss" as *;

a.cta {
  box-shadow: $smallBoxShadow;
  background-color: $red70;
  color: $white98;
  display: block;
  padding: $unitsNormal;
  border-radius: $unitsXSmall;
  text-align: center;
}

a.cta:hover {
  background-color: $red75;
}

.mobile-nav-cta {
  margin: 0 -1rem;
}

@media screen and (min-width: $desktopWidth) {
  a.cta {
    width: auto;
    display: inline;
    padding: $unitsSmall $unitsNormal;
  }
}
