@use "../styles/variables" as *;
@use "../styles/mixins";

footer {
  @include mixins.global-container(none);
  margin: $smallSpacing auto $tinySpacing;
}

.cta-container {
  @include mixins.global-container(none);
  display: flex;
  flex-flow: column-reverse;
  gap: $tinySpacing;
  margin: $smallSpacing auto;
}

.copyright-container {
  border-top: $borderGray40;
}

@media screen and (min-width: $desktopWidth) {
  .cta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
