/*
External Modules
*/

@use '../styles/variables.scss' as *;

.footer {
  margin-top: $unitsNormal;
}

.footer-paragraph {
  margin: 0;
  font-size: $unitsSmall;
}

.icon-bucket {
  margin: 2.5rem 0 $unitsNormal;
}

.icon-bucket > h2 {
  margin: 0 0 $unitsNormal;
  font-size: 2.5rem;
}
