@use "../styles/variables.scss" as *;

.featured-image {
  height: $largeSpacing;
  overflow: hidden;
  border-bottom: 1px solid #707070;
  img {
    min-width: 120%;
    margin-top: -50%;
  }
}

@media screen and (min-width: $desktopWidth) {
  .featured-image {
    height: $xxlSpacing;
  }
}
