/*
External Modules
*/

@use '../styles/variables.scss' as *;

.container {
  margin: 0 auto;
  max-width: 50rem;
  padding: $unitsNormal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}
