@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

.mobile-nav {
  display: block;
}

.mobile-nav-toggle {
  @include mixins.flex-default($flex-direction: column);
  gap: 0.5rem;
}

.icon-bar {
  display: block;
  width: $xsSpacing;
  height: 0.125rem;
  background-color: $black13;
  border-radius: 0.125rem;
}

.mobile-nav-items {
  position: absolute;
  top: 78px;
  bottom: 0;
  left: 0;
  padding: $tinySpacing;
  height: 100vh;
  width: calc(100% - 2rem);
  background-color: $white98;
  margin: 0;
  overflow-y: scroll;
  animation: fade-down $easeInOut200;
  li {
    list-style: none;
    padding: $xsSpacing $tinySpacing;
    border-bottom: $borderGray40;
  }
}

.hidden-nav-items {
  display: none;
}

@keyframes fade-down {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: $desktopWidth) {
  .mobile-nav {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .mobile-nav-items {
    background-color: $black13;
  }
}
