@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

.desktop-nav-lists {
  display: none;
}

@media screen and (min-width: $desktopWidth) {
  .desktop-nav-lists {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: $unitsNormal;
    justify-content: end;
    .nav-items {
      margin: 0;
      padding: $unitsSmall 0;
      list-style: none;
      width: max-content;
      div {
        @include mixins.flex-default(
          $align-content: center,
          $justify-content: flex-end
        );
        gap: $unitsNormal;
      }
    }
  }
}
