@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

@mixin solutions-container {
  margin: 5rem 0;
}

.solutions-container {
  @include solutions-container;
}

.solutions-container-switch {
  @include solutions-container;
  display: flex;
  flex-flow: column-reverse;
}

@media screen and (min-width: 768px) {
  .solutions-container,
  .solutions-container-switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .description-container {
    @include mixins.flex-align-items;
    flex-direction: row;
  }
}
