@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

.testimonial-card {
  border: $borderGray40;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: $largeBoxShadow;
}

.testimonial-header {
  background: linear-gradient(90deg, $white85, $white98);
  padding: 2rem 1rem;
  border-bottom: $borderGray40;
}

.testimonial-person {
  display: grid;
  grid-template-columns: auto 11fr;
  align-items: center;
  gap: 1rem;
  .person-image-container {
    width: 5rem;
    overflow: hidden;
    * {
      animation: fade-left 0.2s ease-in-out;
    }
  }
  .person-text-container {
    h3 {
      animation: fade 0.5s ease-in-out;
      margin: 0;
    }
  }
}

.selectors {
  div {
    width: 1rem;
    height: 1rem;
    margin: 1rem 0;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    cursor: pointer;
  }
  .active {
    background-color: $blue60;
    box-shadow: $lightOutline;
    outline-offset: 0.15rem;
  }
  .inactive {
    background-color: $gray60;
  }
}

.testimonial-text {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 2rem 1rem;
  .testimonial-body {
    p {
      animation: fade-left 0.2s ease-in-out;
    }
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(1rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .selectors {
    .active {
      background-color: $cyan60;
      box-shadow: $darkOutline;
    }
  }
  .testimonial-header {
    background: $black10;
    color: $white98;
  }
}
