@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

.desktop-testimonial-image-container {
  display: none;
}

.testimonial-container {
  border: $borderGray40;
  border-radius: 0.5rem;
}

.testimonial-footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
}

.testimonial-image {
  height: 100%;
}

.testimonial-text {
  padding: 1rem;
  z-index: 1;
  p {
    margin-top: 0;
  }
  h3 {
    margin: 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .mobile-testimonial-image-container {
    display: none;
  }

  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
  }
  .desktop-testimonial-image-container {
    display: block;
    height: 100%;
  }

  .testimonial-footer {
    display: block;
  }
}
