@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

.testimonial-card {
  border-radius: $unitsSmall;
  box-shadow: $largeBoxShadow;
  overflow: hidden;
}

.testimonial-header {
  background: linear-gradient(90deg, $white85, $white98);
  padding: $unitsMedium $unitsNormal;
  border-bottom: $borderGray40;
}

.testimonial-person {
  display: grid;
  grid-template-columns: auto 11fr;
  align-items: center;
  gap: $unitsNormal;
  .person-image-container {
    width: $unitsLarge;
    overflow: hidden;
    * {
      animation: fade-left $easeInOut200;
    }
  }
  .person-text-container {
    animation: fade-right $easeInOut200;
    h3 {
      margin: 0;
    }
  }
}

.selectors {
  div {
    width: $unitsNormal;
    height: $unitsNormal;
    margin: $unitsNormal 0;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    cursor: pointer;
  }
  .active {
    background: $blue60;
    box-shadow: $lightOutline;
    outline: none;
  }
  .inactive {
    background: $gray60;
  }
}

.testimonial-text {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $unitsNormal;
  padding: $unitsMedium $unitsNormal;
  .testimonial-body {
    animation: fade-left $easeInOut200;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX($unitsNormal);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(calc(-1 * $unitsNormal));
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .testimonial-card {
    border: $borderGray40;
    box-shadow: $largeBoxShadow;
  }
  .selectors {
    .active {
      background: $cyan60;
      box-shadow: $darkOutline;
    }
  }
  .testimonial-header {
    background: $black10;
    color: $white98;
  }
}
