@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss";

.testimonial-card {
  border-radius: $mediumBorderRadius;
  box-shadow: $largeBoxShadow;
  overflow: hidden;
}

.testimonial-header {
  background: linear-gradient(90deg, $white85, $white98);
  padding: 2rem 1rem;
  border-bottom: $borderGray40;
}

.testimonial-person {
  display: grid;
  grid-template-columns: auto 11fr;
  align-items: center;
  gap: 1rem;
  .person-image-container {
    width: 5rem;
    overflow: hidden;
    * {
      animation: fade-left $easeInOut200;
    }
  }
  .person-text-container {
    animation: fade-right $easeInOut200;
    h3 {
      margin: 0;
    }
  }
}

.selectors {
  div {
    width: 1rem;
    height: 1rem;
    margin: 1rem 0;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    cursor: pointer;
  }
  .active {
    background-color: $blue60;
    box-shadow: $lightOutline;
    outline: none;
  }
  .inactive {
    background-color: $gray60;
  }
}

.testimonial-text {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 2rem 1rem;
  .testimonial-body {
    animation: fade-left $easeInOut200;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(1rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .testimonial-card {
    border: $borderGray40;
    box-shadow: $largeBoxShadow;
  }
  .selectors {
    .active {
      background-color: $cyan60;
      box-shadow: $darkOutline;
    }
  }
  .testimonial-header {
    background: $black10;
    color: $white98;
  }
}
