.social-follow {
    align-items: center;
}

/* icon bucket styles */
.icon-bucket, .icon-toggle {
    background: var(--color-white);
    box-shadow: var(--medium-box-shadow);
    padding: 1rem;
    position: fixed;
}

/* Toggle styles */
.icon-toggle{
    bottom: 4vh;
    right: 5vh;
    border-radius: 50%;
}

.toggle, .icon {
    height: 1.75rem;
    width: 2rem;
}

.icon-toggle:active {
    transform: scale(.9);
    transition: scale ease-in .05s;
}

/* Icon and icon bucket styles */
.icon-bucket{
    bottom: 18vh;
    right: 5vh;
    border-radius: 1rem;
}

.icon-link {
    box-shadow: none;
    display: flex;
}

.icon:hover, .toggle:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

.icon {
    margin: .5rem 0;
}